doctrine:
    dbal:
            driver: pdo_mysql
            host: 127.0.0.1
            port: 3306
            dbname: reporting
            user: root
            password: test6789
            unix_socket: /tmp/mysql.sock
            server_version: '8.0.18'
            charset: utf8mb4
#        url: '%env(resolve:DATABASE_URL)%'

        # IMPORTANT: You MUST configure your server version,
        # either here or in the DATABASE_URL env var (see .env file)
        #server_version: '15'
    orm:
        auto_generate_proxy_classes: true
        naming_strategy: doctrine.orm.naming_strategy.underscore_number_aware
        auto_mapping: true
        mappings:
            App:
                is_bundle: false
                type: annotation
                dir: '%kernel.project_dir%/src/Entity'
                prefix: 'App\Entity'
                alias: App
